body{
    background-image: linear-gradient(rgba(9, 5, 54,0.3),rgba(5, 4, 46, 0.7)), url("images/catbg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    height: 150vh;
}
.books{
    background-image: linear-gradient(rgba(38, 4, 68, 0.5), rgba(14, 20, 103, 0.9));
    height: 50vh;
    width: 65vw;
    border: 2px solid aqua;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
}
.book_br{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.book_br img{
    height: 40vh;
    padding: 10px;
}
.book_br ul{
    color: aliceblue;
    list-style-type: none;
    padding: 10px;
}
.book_br h3{
    color: #fff;
    padding: 20px;
}
.book_btn{
    background-color: rgb(14, 14, 111);
    padding: 15px 25px;
    border: 2px solid rgb(167, 220, 240);
    border-radius: 8px;
    margin: 10px;
    transition: 1s ease;
}
.book_btn a{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}
.book_btn:hover{
    background-color: rgb(6, 6, 58);
    border: none;
    opacity: .8;
}
